
<a class="btn btn-link" href="/logout" role="button" style="float: right; margin: 30px 2% 0px 0px">Logout</a>
<form action="/<%= @location.id %>/delete" method="post" >
    <input id="hidden" type="hidden" name="_method" value="delete"/>
        <div style="text-align: center">
            <h1 style="text-align: center; color: #4669C8; margin: 20px 0px -10px 0px; display: inline-block; "><%= @location.location_name %></h1> 
            <button type="submit" class="btn btn-danger" style="width: 100px; margin: 0px 0px 18px 15px;">Delete</button>
        </div>
</form>
<hr>
<div style="display: flex; justify-content: center; margin: 10px; ">
<form action="/<%= @location.id %>/edit" method="post" >
    <input id="hidden" type="hidden" name="_method" value="patch"/>
    <div class="card" style="width: 35rem;">
    <img class="card-img-top" src="/images/<%= @location.image_name %>" alt="Card image cap">
    <div class="card-body">
        <h5><label class="block" for="location_name">Location</label></h5>
        <h5 class="card-title"><input class="block" style="width: 100%" type="text" name="location_name" id="location_name" value="<%= @location.location_name %>"></h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
        <label class="block" for="start_date" style="width: 100%;">Dates</label>
        <input style="width: 45%" type="text" name="start_date" id="start_date" value="<%= @location.start_date %>"> - <input style="width: 45%"type="text" name="end_date" id="end_date" value="<%= @location.end_date %>"></li>
        <li class="list-group-item">
        <label class="block" for="price">Cost</label>
        <input class="block"  style="width: 100%" type="text" name="price" id="price" value="<%= @location.price %>"></li>
        <li style="list-style: none; text-align: center;"><button class="btn btn-primary" type="submit" style="margin: 15px 0px ; width: 75%">Update</button> 
        </li>
    </ul>
</form>
    </div>

</div>