<h1 class="header"><%= @user.name %></h1> 
<p class="username">@<%= @user.username %></p>

<div>
    <h2 id="destinations">Destinations</h2> 
    <a class="button btn btn-primary" id="add_dest" href="/new" role="button">Add</a>
    <a class="btn btn-link" href="/logout" role="button" style="float: right; margin: 15px 2% 0 0">Logout</a>
</div>
<hr style="margin:-18px;">
<div style="margin: 50px 2%; display: flex; justify-content: space-between;">

<% @locations.each do |location| %>
<div style="display: inline-block">

    <div class="card" style="width: 19rem;">
    <img class="card-img-top" src="/images/<%= location.image_name %>" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><%= location.location_name %></h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Dates: <%= location.start_date %> - <%= location.end_date %></li>
        <li class="list-group-item">Cost: <%= location.price %></li>
        <li style="list-style: none; text-align: center;"><a class="button btn btn-primary" href="/<%= location.id %>/edit" role="button">Edit</a></li>
    </ul>
    </div>
</div>
<% end %>
</div>